body{
    
    background-image: url(./imgs/Fundo%20pc.jpg); /* Caminho corrigido */
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
} @media (max-width: 1450px) {
    body {
        background-image: url(./imgs/fundo\ intermediario.jpg);
       
    }
  } 
@media (max-width: 500px) {
    body {
        background-image: url(./imgs/fundo\ mobile.jpg);
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
    }
  }
  @media (min-width: 501px) and (max-width: 900px) {
    body {
        background-image: url(./imgs/fundo\ mobile.jpg);
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
    }
  }

  #tabela-convidados {
    width: 100%;
    border-collapse: collapse; /* Faz as bordas das células se fundirem */
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

#tabela-convidados th, #tabela-convidados td {
    padding: 10px;
    margin-left: 5px;
    border: 1px solid #ddd; /* Adiciona borda fina para todas as células */
}

#tabela-convidados th {
    position: sticky; /* Fixa o cabeçalho no topo durante a rolagem */
    top: 0; /* Define que deve permanecer no topo do contêiner */
    background-color: #d9a769; /* Mantém a cor de fundo do cabeçalho */
    color: white; /* Define a cor do texto do cabeçalho */
    z-index: 2; /* Garante que o cabeçalho fique acima das células */
    text-align: center;
    padding: 10px;
    
    color: white; /* Cor do texto do cabeçalho */
}


#tabela-convidados tr:nth-child(even) td {
    background-color: #5e862b; /* Cor alternativa para linhas pares */
}

button.delete-btn {
    background-color: #f44336; /* Cor do botão de excluir */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button.delete-btn:hover {
    background-color: #d32f2f; /* Cor ao passar o mouse sobre o botão */
}

#container{
    background-color: #7a4a26;
    background-color: #7a4a26;
    color: #ffff;
    padding: 5px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    
    border-radius: 10px;
}
.tabela-rolavel {
    max-height: 400px; /* Altura máxima da área visível */
    overflow-y: auto;  /* Ativa a rolagem vertical */
    overflow-x: hidden;  /* Ativa a rolagem horizontal (se necessário) */
    border: 1px solid #ddd; /* Opcional: Adiciona uma borda para destacar */
    position: relative;
    width: 90%;
    margin: 0 auto;
  }